@model IEnumerable<BNR_ComputerClass.Models.ComputadorModel>

@{
    ViewBag.Title = "Computadores";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo", "Create", null, new { id = "btnNovo", @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th class="col-md-10">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Apagar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
