@using BNR_ComputerClass.Models
@using Microsoft.Ajax.Utilities
@model  IEnumerable<AgendaModel>

@{
    var select = (SelectList)@TempData["Filtro"];
}

@if (select.Any())
{
    <div class="form-group">
        <div class="col-md-3">
            @Html.DropDownList("Select", select, new { @class = "form-control campoFirst" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Novo", "Create", null, new { id = "btnNovo", @class = "btn btn-info" })
        </div>
    </div>
    <table class="table">
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Computador)
            </th>
            <th class="col-md-6">
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th class="col-md-2"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Computador.Descricao)
                </td>
                @if (item.Aluno != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Aluno.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Apagar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                }
                else
                {
                    <td><span>-</span></td>
                    <td>
                        @Html.ActionLink("Apagar", "Delete", new { id = item.Id }, new { disabled = "disabled", @class = "btn btn-danger" })
                    </td>
                }
            </tr>
        }
    </table>
}
else
{
    <p>- Não existe nenhum horário agendado no sistema.</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/horario/index")
}
