@using BNR_ComputerClass.Models
@model  IEnumerable<AgendaModel>


<table class="table">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.Aluno)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Computador)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Horario.Dia)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Horario.HoraInicial)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Horario.HoraFinal)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Computador.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.HoraInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario.HoraFinal)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Apagar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
