@model BNR_ComputerClass.Models.AgendaModel

@{
    ViewBag.Title = "Excluir";
}

<h2>@ViewBag.Title</h2>

<h3>Você tem certeza que deseja apagar esse horário?</h3>
<div>
    <h4>Horário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Computador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computador.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Horario.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario.HoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.HoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario.HoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario.HoraFinal)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" /> 
        </div>
    }
</div>
