@model IEnumerable<BNR_ComputerClass.Models.HorarioModel>

@{
    ViewBag.Title = "Horários";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.HoraInicial)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.HoraFinal)
        </th>
        <th class="col-md-2"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraFinal)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.Id }, new {@class = "btn btn-primary"})
            @Html.ActionLink("Apagar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
