@using BNR_ComputerClass.Models
@model AulaModel

<table class="table">
    <tr>
        <th class="col-md-10">
            @Html.DisplayNameFor(model => model.ChamadasModel.First().Agenda.Aluno)
        </th>
        <th class="col-md-2">
        </th>
    </tr>

    @Html.HiddenFor(model => model.AgendasId)

    @foreach (var item in Model.ChamadasModel)
    {
        <tr>
            @Html.HiddenFor(x => item.Id, new { id = "chamadaId" + item.AgendaId })
            <td>
                @Html.DisplayFor(modelItem => item.Agenda.Aluno.Nome)
            </td>
            <td>
                @Html.CheckBoxFor(x => item.Presenca, new { id = item.AgendaId })
               @Html.HiddenFor(x => item.Presenca, new { id = "itemPresenca" + item.AgendaId })
            </td>
        </tr>
    }
</table>
