@using BNR_ComputerClass.Models
@model AulaModel

@{
    ViewBag.Title = "Realizar Chamada";
    var horarios = (SelectList)TempData["Horarios"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Chamada", FormMethod.Post, new { @id = "formCreate" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <b>@ViewBag.DataHoje </b>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (horarios.Any())
        {
            <div id="divAgendas" class="espaco-top-5px">
                @Html.Partial("_Alunos", Model)
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                    <input id="btnCreate" type="button" value="Salvar" class="btn btn-success" />
                </div>
            </div>
        }
        else
        {
            <p>- Não tem nenhum horário que não foi a chamada hoje, cadastre um novo horário ou altere uma chamada cadastrada.</p>
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/chamada/create.js")
}
