@using System.Activities.Statements
@using BNR_ComputerClass.Models
@model AulaModel

@{
    ViewBag.Title = "Alterar Chamada";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Chamada", FormMethod.Post, new { @id = "formEdit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <b> @Model.Data</b>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.Id)

        @if (Model.ChamadasModel.Count > 0)
        {
            <div class="form-group">
                @Html.Label("Horários", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Horarios", (SelectList)ViewBag.Horarios, new { @class = "form-control" })
                </div>
            </div>
            
            <div id="divAgendas" class="espaco-top-5px">
                @Html.Partial("_Alunos", Model)
            </div>
        }
        else
        {
            <p><b>- Nenhuma chamada cadastrada nessa data.</b></p>
        }

        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                <input id="btnEdit" type="button" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/chamada/edit.js")
}
